# macOS
.DS_Store

# Python venv & cache
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node / React
node_modules/
ui/node_modules/
ui/build/

# Environment files (NO SECRETS IN GIT)
.env
*.env
back_end/src/.env
ui/.env