# Python
__pycache__/
*.pyc
*.pyo
**/__pycache__/

# Virtual env
.venv/
venv/

# Node
node_modules/

# Environment files
.env
ui/.env
back_end/.env
back_end/src/.env

# OS files
.DS_Store

# Build artifacts
dist/
build/