.action-button {
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.action-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.action-button--primary {
  background: rgb(179, 170, 170);
  color: rgb(0, 0, 0);
}

.action-button--secondary {
  background: #444;
  color: #fff;
}
